*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    background-image: linear-gradient(
        #990000,
        #02369e
    );
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
}

#nav-icons {
    position: fixed;
    top: 32px;
    left: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#nav-page-sections {
    position: fixed;
    top: 32px;
    right: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#nav-icons > li {
    padding-right: 40px;
}

#nav-page-sections > li {
    padding-left: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

a:hover {
    color: #ffffff;
    transition-duration: 0.75s;
}

#home {
    width: 90%;
    margin: 200px auto 25px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    border-bottom: 3px solid white;
}

#home-text {
    width: 50%;
}

#home-text h1 {
    font-size: 3rem;
    text-align: left;
}

#home-text p {
    margin-top: 20px;
    font-size: 1.4rem;
    text-align: left;
}

#home-img {
    width: 50%;
    float: left;
}

#home-img img {
    width: min(430px, 75%);;
    display: block;
    margin-left: auto;
    border: 2px solid white;
    border-radius: 5px;
}

.section-title {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 20px;
}

#clubs {
    width: 90%;
    margin: 25px auto;
    padding-bottom: 50px;
    border-bottom: 3px solid white;
}

.club {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px 0;
}

.club img {
    border: 2px solid white;
    border-radius: 5px;
    width: 60%;
}

.club-text {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

.club-text h3 {
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.club-text p {
    padding-top: 20px;
}

#kesem-text, #percentage-text {
    padding-left: 30px;
}

#venus-text {
    padding-right: 30px;
}

#experience {
    width: 90%;
    margin: 25px auto;
    padding-bottom: 50px;
    border-bottom: 3px solid white;
}

.timeline {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    color: #ffffff;
}

.timeline-component {
    margin: 0 20px 35px 20px;
}

.timeline-component-bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.timeline-component-bottom {
    margin-bottom: 0;
}

.timeline-date {
    display: flex;
    align-items: top;
}

.penn img {
    margin-top: -10px;
    width: 150px;
}

.jane-street img {
    width: 110px;
    padding-left: 30px;
}

.mit img {
    width: 150px;
    padding-right: 30px;
}

.timeline-date-left {
    justify-content: end;
}

.timeline-middle {
    position: relative;
    background: #ffffff;
}

.timeline-point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
}

.timeline-point-bottom {
    top: initial;
    bottom: 0;
}

.timeline-title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.timeline-paragraph {
    line-height: 1.5;
    padding-top: 5px;
}