*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    background-image: linear-gradient(
        #990000,
        #02369e
    );
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
}

#nav-icons {
    position: fixed;
    top: 32px;
    left: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#nav-page-sections {
    position: fixed;
    top: 32px;
    right: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#nav-icons > li {
    margin-right: 40px;
}

#nav-page-sections > li {
    margin-left: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

a:hover {
    color: #ffffff;
    transition-duration: 0.75s;
}

#home {
    width: 85%;
    margin: 200px auto 25px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    border-bottom: 3px solid white;
}

#home-text {
    width: 50%;
}

#home-text h1 {
    font-size: 3rem;
    text-align: left;
}

#home-text p {
    margin-top: 20px;
    font-size: 1.4rem;
    text-align: left;
}

#home-img {
    width: 50%;
    float: left;
}

#home-img img {
    width: min(430px, 75%);;
    display: block;
    margin-left: auto;
    border: 2px solid white;
    border-radius: 5px;
}

section h2 {
    font-size: 2.2rem;
}

#about {
    width: 85%;
    margin: 25px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    border-bottom: 3px solid white;
}

#experience {
    width: 85%;
    margin: 25px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    border-bottom: 3px solid white;
}