.blog {
  width: 100%;
  gap: 48px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.blog-content {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blog-card h2,
.blog-card p {
  margin: 0;
}

.blog-card p {
  color: rgba(9, 27, 47, 0.9);
}

.footer {
  width: 100%;
  background-color: #A9AAF4;
  color: #091B2F;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  padding: 16px 0 4px 0;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer a {
  color: #091B2F;
}