.portfolio {
  width: 100%;
  gap: 48px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.portfolio-content {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.project-sections {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.section-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-section h4 {
  font-weight: normal;
}

.slick-prev:before,
.slick-next:before {
  color: #091B2F;
}

.slick-dots li {
  margin: 2px !important;
}

.slick-dots li button:before {
  color: #A9AAF4;
  font-size: 16px;
  opacity: 1;
}

.slick-active button:before {
  color: #0B0C72 !important;
  opacity: 1;
}

.portfolio-slider {
  padding-bottom: 24px;
}

.portfolio-slider .slick-list {
  display: flex;
  padding: 8px 0;
}

.portfolio-slider .slick-track::before,
.portfolio-slider .slick-track::after {
  display: none !important;
}

.portfolio-slider .slick-track {
  display: flex !important;
  gap: 24px;
  align-items: stretch;
}

.portfolio-slider .slick-slide {
  height: auto;
}

.portfolio-slider .slick-slide>div {
  height: 97%;
  min-height: fit-content;
}

.portfolio-slider .slick-dots {
  position: static !important;
  margin-top: 10px !important;
}

.project-card-portfolio {
  color: #091B2F;
  margin: 0px;
  max-width: 600px;
  height: 100%;
  display: flex;
}

.project-card-portfolio .project-card-link {
  height: 100%;
}

.project-card-portfolio .project-card-body {
  flex: 1 1 auto;
}

.footer {
  width: 100%;
  background-color: #A9AAF4;
  color: #091B2F;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  padding: 16px 0 4px 0;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer a {
  color: #091B2F;
}